:root {
	//--dark-gray: rgba(0, 0, 0, 0.8);
   --black: #000000;
   --dark-gray: #191919;
	--bright-blue: #40e6f0;
	--light-blue: #b3d4fc;
   --medium-white: #dedddd;
   --dark-white: #e1e1e1;
	--white: rgb(247, 247, 247);
};